/* Stylesheet template for SFV Online Checker by Marc Robledo v20250324 */

/* @FONT-FACES */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@keyframes calculating{
	0% {color: #3c3c3c}
	50% {color: #f4f4f4}
	100% {color: #3c3c3c}
}
html{height:calc(100% - 40px)}
body{
	margin:0;
	font:15px 'Open Sans',sans-serif;
	font-weight:300;
	cursor:default;
	line-height:1.8;
	color:#3c3c3c;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	
	height:100%;
}
body.crc32{background-color:#f4f8f4}
body.md5{background-color:#f8f4f4}
body.sha1{background-color:#f4f4f8}

main{
	background-color:white;
	border-radius:8px;
	max-width:960px;
	box-shadow:rgba(0,0,0,.1) 0 0 24px 1px;
	margin: 40px auto 20px;
	position:relative;
	box-sizing:border-box;
	min-height: calc(100% - 320px);
}
.clickable:hover{cursor:pointer;text-decoration:underline}

.hide{display:none}
.text-center{text-align:center}


table{
	border-collapse:collapse;
	width:100%;
}

tr{border-bottom:1px solid #ddd;}
tr:last-child{border-bottom:none;}
body.crc32 tr td:first-child{max-width: 720px}
body.md5 tr td:first-child{max-width: 520px}
body.sha1 tr td:first-child{max-width: 460px}
tr.verified td:last-child:before, tr.error td:last-child:before{
	padding: 1px 0;
	border-radius:2px; margin-right:4px;
	font-size: 80%;
	font-weight: bold;
	color: white;
	width: 72px;
	display: inline-block;
	text-align:center
}
tr.verified td:last-child:before{content:"Verified";background-color:#44a41c;}
tr.verified.verified-es td:last-child:before{content:"Verificado"}
tr.error td:last-child:before{content:"Not valid";background-color:#cc2f1f;}
tr.error.error-es td:last-child:before{content:"No válido"}
tbody tr:hover{background-color:#f9f6f6}

tr>td:first-child{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
td{padding:6px 10px;}
tr.verified{
	background-color:#e7f7ea;
	background: linear-gradient(to right, transparent 0%, #e7f7ea 100%);
}
tr.error{
	background-color:#f9e8e8;
	background: linear-gradient(to right, transparent 0%, #f9e8e8 100%);
}
tr>td:last-child{text-align:right; position:relative;}





.hash{font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Roboto Mono, monospace;}
.hash.invalid{text-decoration:line-through}
.calculating{animation: calculating 1s infinite;}




#message{
	text-align:center;
	padding: 80px 20px;
	font-size:110%;
	border: 3px dashed #bbb;
	border-radius:3px;
}



section{
	padding:16px;
	max-height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}











.max-width{
	max-width:960px;
	margin: 0 auto;
}


header{
	border-radius:8px 8px 0 0;
	padding:16px 20px 20px;
}
header{transition:background-color .2s;}
body.crc32 header{background-color:#83db88;}
body.md5 header{background-color:#ff917f;}
body.sha1 header{background-color:#8ad9ee;}


#icon{
	background-color:rgba(255,255,255,.7);
	display:inline-block;
	line-height:0;
	padding:12px;
	box-sizing:border-box;
	width:64px;
	height:64px;
	border-radius:40px;
	margin-right:10px;
	vertical-align:middle;
	background-color:rgba(0,0,0,.1) 0 4px
}

#icon img{width:100%}
h1{
	font-weight:300;
	margin:0;
	text-align:center;
}
h1 span{
	font-weight:400;
}


#toolbar{
	margin-top:16px;
	display:flex;
	justify-content:space-between;
	line-height:1;
}
#toolbar-right{text-align:right}
#toolbar button>svg{
	height:16px;
	vertical-align:middle;
	transition: fill .2s;
}
#toolbar button>span{
	vertical-align:middle;
	margin-left:4px;
}
#button-add{
	border-radius:3px 0 0 3px;
}
#button-add-string{
	border-left-width:0px;
	border-radius:0 3px 3px 0;
}


a.icon img{
	vertical-align:middle;
	width:12px;
	height:12px;
}
a.icon{
	border-radius:40px;
	color:white !important;
	text-decoration:none;
	padding: 4px 16px;
}
a.icon.github{background-color:#171515;}
a.icon.github:hover{background-color:#373535;}
a.icon.heart{background-color:#f8015e;}
a.icon.heart:hover{background-color:#ff217e;}







/* forms */
select,button{
	box-sizing:border-box;
	font-family:inherit;
	font-size:100%;
	font-weight:inherit;
	outline:0;
	border:none;
	border-radius:3px;
	padding:5px 12px;
	height:36px;
	color:inherit;
	background-color:inherit;
	border:1px solid rgba(0,0,0,.17);
	transition: all .2s;
}
select{
	padding-right:20px;
	appearance:none;
	text-overflow:'';

	background-image:url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 6 3"%3E%3Cpath d%3D"M6 0 3 3 0 0z"%2F%3E%3C%2Fsvg%3E');
	background-position:right 6px center;
	background-repeat:no-repeat;
	background-size:8px;
}
select:hover{
	background-image:url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 6 3"%3E%3Cpath fill%3D"white" d%3D"M6 0 3 3 0 0z"%2F%3E%3C%2Fsvg%3E');
	cursor:pointer;
	border:1px solid rgba(0,0,0,.0);
	background-color:rgba(0,0,0,.4);
	color:white;
}

button:hover{
	cursor:pointer;
	border:1px solid rgba(0,0,0,.0);
	background-color:rgba(0,0,0,.4);
	color:white;
}


footer{
	font-size:13px;
	font-size:87%;
	text-align:center;
}
footer a{
	color:#8a8a8a;
	transition:color .2s;
}
footer a:hover{color:#444}
footer svg{width:12px; height:12px; vertical-align:middle; fill:white}





/* MarcDragAndDrop */
#drop-overlay{
	z-index: 9000;
	background: white; /* Old browsers */
	background: radial-gradient(ellipse at center, #fff 0%,transparent 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	padding:50px 0;
	font-size:22px;
	text-align: center;
	text-shadow: white 0 0 8px;
	opacity:0;
	visibility:hidden;
	transition: visibility .2s,opacity .2s;
}
#drop-overlay:before{
	content:"";
	display:block;
	height:40%
}
body.dragging-files #drop-overlay{visibility:visible;opacity:1;}
body.dragging-files #drop-message{visibility:hidden !important}
























/* responsive */
@media only screen and (max-width:981px){
	header{padding:20px}
	#wrapper{margin:20px}
}
@media only screen and (max-width:641px){
	body{background-color:white !important;}
	main{
		margin:0;
		box-shadow:none;
		background-color:transparent
	}
	main,header{border-radius:0;}
	header{
		padding:12px 4px;
		margin-bottom:0
	}
	footer{display:none}
	#toolbar{margin-top:10px;}
	#wrapper{margin:0 0}
	header .column{
		width:auto;
		float:none;
		text-align:center !important;
	}

	tr td:first-child{max-width:340px !important}
	#message{
		margin:20px;
	}

	body{
		font-size:14px
	}
	h1{font-size:140%}
	
	#icon{
		padding:8px;
		width:40px;
		height:40px;
	}

	section{padding:0}
	thead{display:none}
	tr{display:block;}
	tr>td{
		display:block;
	}
	tr>td:nth-child(1){
		padding-bottom:0;
	}
	tr>td:nth-child(2){
		font-size:90%;
		text-align:left;
		padding-top:0;
	}
}
